@use "@s/global" as *;

.h {
  margin-top: 20px;
  margin-inline: 20px;
  padding: 16px;
  background-color: $grey-600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  background-color: #d9d9d9;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
}
.logo img {
  width: 24px;
  background-color: transparent;
}
.h h1 {
  font-weight: 400;
  font-size: 24px;
}
.acc {
  margin-left: auto;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: #ff8787;
  display: grid;
  place-content: center;
  line-height: 1;
  color: white;
}
.h_dd {
  position: absolute;
  top: 84px;
  right: 20px;
  min-width: 200px;
  border-radius: 10px;
  background-color: $grey-500;
  // box-shadow: 0 2px 4px rgba(78, 79, 81, 0.05), 0 4px 16px rgba(29, 41, 57, 0.1);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.h_dd:global(.open) {
  opacity: 1;
  visibility: visible;
}
.h_dd li {
  padding: 24px 16px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: $grey-400;
  }
}
