//
.no-select {
  user-select: none;
}
.h-s {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.h-s::-webkit-scrollbar {
  display: none;
}
.d-n {
  display: none !important;
}
.s-s {
  height: 100vh;
  overflow: hidden;
}
