/*
* THIS FILES IS FOR RESETTING SOME OF THE DEFAULTS STYLES
*/
:root {
  --yellow: #f6c653;
  --red: #ff4456;
  --background-color: #0a0a0a;
  --grey-500: #1c1c1c;
  --grey-400: #585858;
  --grey-300: #888;
  --grey-200: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
  font-size: calc(100vw / 1440);
  @media (width < 780px) {
    font-size: calc(100vw / 400);
  }
}
body {
  font-family: "inter", sans-serif;
  overscroll-behavior: none;
  font-size: 14px;
  color: white;
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4 {
  font-family: "helv", sans-serif;
  letter-spacing: -0.02em;
  line-height: 90%;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
}
img,
video {
  background-color: #ededed;
  object-fit: cover;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

input{
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}