@use "@s/global" as *;

.sh {
  padding: 32px 24px;
  background-color: $grey-600;
  border-radius: 10px;
}

.sh_h {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.sh_b {
  margin-top: 32px;
}
.sh_b {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $grey-300;
  margin-block: 40px;
}

.other {
  width: fit-content;
  background-color: #555;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
}
