@use "@s/global" as *;

.p {
  padding-inline: 20px;
  margin-top: 24px;
}
.c {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

.cl {
  width: calc(5 / 8 * 100%);
}
.cr {
  width: calc(3 / 8 * 100%);
}
.p h2 {
  font-size: 24px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.p h3 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01em;
}
