.status {
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
}
.canceled {
  color: #e14d6d;
  background-color: #312b2c;
}
.pending {
  color: #f3e351;
  background-color: #3f3e31;
}
.inproduction {
  color: #8962f0;
  background-color: #2b2c31;
}
.paid {
  color: #28d373;
  background-color: #2b312f;
}