@use "@s/global" as *;

.p {
  height: 100vh;
  height: 100dvh;
  background-color: #1c1c1c;
}

.m {
  // width: clamp(0px, 500px, 100%);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.l {
  flex: 7;
  background-color: black;
  border-radius: 20px;
  display: grid;
  place-items: center;
  height: 100%;
}
.r {
  flex: 5;
}

.logo {
  max-width: 400px;
  margin-inline: auto;
  background-color: transparent;
}
.title {
  max-width: 500px;
  margin-inline: auto;
  font-size: 28px;
  color: white;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.f {
  margin-top: 40px;
  max-width: 500px;
  margin-inline: auto;
}
.f input {
  margin-top: 24px;
  padding: 16px 20px;
  width: 100%;
  color: white;
  background-color: #333;
  border-radius: 10px;
  font-size: 16px;
  &:placeholder {
    color: $grey-200;
  }
}

.f button {
  padding: 16px 20px;
  width: 100%;
  background-color: #0a0a0a;
  color: white;
  font-size: 16px;
  letter-spacing: 0.01em;
  margin-top: 40px;
  border-radius: 100px;
}

.reset {
  margin-top: 24px;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
}
