@use "@s/global" as *;

.sortBy {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.sortBy svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:hover {
    stroke: $yellow;
  }
  &:last-child{
    transform: rotate(180deg);
  }
}
.sortBy ul {
  display: flex;
  gap: 24px;
}
.sortBy li {
  font-size: 14px;
  background-color: $grey-600;
  border-radius: 36px;
  padding: 10px 16px;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: $grey-500;
  }
}
.active {
  background-color: var(--grey-500);
  color: white;
}
