@use "@s/global" as *;

.df {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.df svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:hover {
    stroke: $yellow;
  }
  &:last-child {
    transform: rotate(180deg);
  }
}
.df ul {
  display: flex;
  gap: 24px;
}
.df li {
  padding: 10px 16px;
  color: $grey-200;
  font-size: 14px;
  background-color: $grey-600;
  border-radius: 36px;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: $grey-500;
  }
}
.df li.active {
  background-color: $grey-500;
  color: white;
}
